{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VAULT - "Simplify. Store. Access. Your files, your command.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="ht tps://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/userlib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/adminlib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/usercss/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/usercss/style.css' %}" rel="stylesheet">
</head>

<body>
    {% block content %}
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'userindex' %}" class="navbar-brand p-0">
            <h1 class="m-0"> VAULT <img src="{% static 'img/img_user/VAULT.png' %}" alt="Logo"></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'userindex' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'upload' %}" class="nav-item nav-link">Upload</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'service' %}" class="nav-item nav-link">Service</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>
                        <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <a href="{% url 'index' %}" class="nav-item nav-link">Logout</a> <!-- Add this line for logout -->
            </div>
        </div>
    </nav>

    <div class="container-xxl bg-primary page-header">
        <div class="container text-center">
            <h1 class="text-white animated zoomIn mb-3">About Us</h1>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->



        <!-- About Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{% static 'img/img_user/about.png' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">About Us</div>
                        <h2 class="mb-4">Vault: Where every file finds its secure sanctuary, merging protection and accessibility into a seamless symphony of digital empowerment</h2>
                        <p class="mb-4">Our mission is to empower individuals and businesses by offering a reliable platform that simplifies the complexities of file storage. Whether you're looking to archive important documents, share files with colleagues, or access your data on the go, Vault has you covered.</p>
                        <div class="row g-3 mb-4">
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-user-tie text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>Secure File Storage</h6>
                                    <span>Vault employs advanced encryption techniques to ensure the confidentiality and integrity of your files.</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fas fa-user-alt"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>User-Friendly Interface</h6>
                                    <span>Our intuitive interface makes it easy to organize, search, and manage your files effortlessly.</span>
                                </div>
                            </div>
                        <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>Collaboration Tools</h6>
                                    <span>Collaborate seamlessly with colleagues and clients by sharing files and folders securely.</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <div class="ms-4">
                                    <h6>Accessibility</h6>
                                    <span>Access your files anytime, anywhere, with support for various devices and platforms..</span>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Features Start -->
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">Why People Choose Us? We Are Trusted & Award Wining Platform</h2>
                        <p>Whether you're an individual user, a small business, or a large enterprise, Vault adapts to your needs, providing a scalable and secure file storage solution. Your data's safety is our priority, and we are committed to delivering a reliable service that exceeds your expectations.</p>
                        <p>Thank you for choosing Vault as your file storage management partner. If you have any questions or feedback, feel free to <a href="{% url 'contact' %}">contact us</a>. We look forward to serving you!</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-5">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-cubes text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Best In Industry</h6>
                                </div>
                                <span>Vault stands unrivaled in the market, delivering the pinnacle of file storage excellence. Our commitment to top-tier security, unparalleled user experience, and innovative features positions us as the undisputed leader, setting the gold standard for secure and efficient digital asset management.</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-percent text-white"></i>
                                    </div>
                                    <h6 class="mb-0">99% Success Rate</h6>
                                </div>
                                <span>At Vault, our commitment to excellence is reflected in our remarkable 99% success rate, ensuring a seamless and reliable file storage experience. This exceptional achievement underscores our dedication to providing users with unparalleled data accessibility, security, and peace of mind, making Vault the trusted choice for those who demand the highest standard in digital asset management</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-award text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Award Winning</h6>
                                </div>
                                <span>"Vault, recognized as an award-winning leader in file storage management, stands proudly as a testament to our commitment to excellence. Our innovative approach, coupled with top-tier security and user-friendly features, has garnered acclaim, solidifying Vault as the go-to choice for those seeking an exceptional and distinguished solution for their digital asset management needs."</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-smile-beam text-white"></i>
                                    </div>
                                    <h6 class="mb-0">100% Happy Client</h6>
                                </div>
                                <span>"At Vault, our success is measured by the happiness of our clients. With an impressive satisfaction rate exceeding 95%, we take pride in delivering a file storage experience that not only meets but exceeds expectations. Our commitment to client happiness is at the heart of what makes Vault a trusted and preferred choice for secure and seamless digital asset management."</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-user-tie text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Professional Advisors</h6>
                                </div>
                                <span>"At Vault, we are guided by a team of distinguished professional advisors whose expertise spans the realms of cybersecurity, data management, and user experience. Their invaluable insights and strategic counsel empower us to continuously elevate our file storage platform, ensuring that Vault remains at the forefront of innovation, security, and user satisfaction. With these trusted advisors by our side, we navigate the digital landscape with confidence, setting new standards for excellence in professional file storage management."</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-headset text-white"></i>
                                    </div>
                                    <h6 class="mb-0">24/7 Customer Support</h6>
                                </div>
                                <span>"At Vault, we pride ourselves on providing unparalleled support with our 24/7 customer service. Our dedicated team is always ready to assist, ensuring that your file storage experience is not only secure and efficient but also backed by around-the-clock assistance. Your peace of mind is our priority, and with Vault, help is just a click or call away, no matter the time or day."</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->


        <!-- Back to Top -->
        <a href="{% url 'about' %}" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

   <!-- JavaScript Libraries -->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="{% static 'lib/userlib/wow/wow.min.js' %}"></script>
   <script src="{% static 'lib/adminlib/easing/easing.min.js' %}"></script>
   <script src="{% static 'lib/adminlib/waypoints/waypoints.min.js' %}"></script>
   <script src="{% static 'lib/adminlib/owlcarousel/owl.carousel.min.js' %}"></script>
   
   <!-- Template Javascript -->
   <script src="{% static 'js/userjs/main.js' %}"></script>
   {% endblock content %}
   </body>

</html>